<div ng-init="editCustomer()"></div>

<h1>Edit Customer</h1>

<div ng-show="errors" class="alert alert-danger" role="alert">
  <ul ng-repeat="error in errors">
    <li>{{ error }}</li>
  </ul>
</div>

<form ng-submit="updateCustomer(customer)" name="edit_customer">

  <input type="hidden" ng-model="form_authenticity_token">

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" ng-model="customer.email" required>
  </div>

  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" ng-model="customer.first_name" required>
  </div>

  <div class="form-group">
    <label>Middle Name</label>
    <input type="text" class="form-control" ng-model="customer.middle_name">
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" ng-model="customer.last_name" required>
  </div>

  <div class="form-group">
    <label>Address1</label>
    <input type="text" class="form-control" ng-model="customer.address1" required>
  </div>

  <div class="form-group">
    <label>County</label>
    <input type="text" class="form-control" ng-model="customer.country" required>
  </div>

  <div class="form-group">
    <label>City</label>
    <input type="text" class="form-control" ng-model="customer.city" required>
  </div>

  <button class="btn btn-primary" ng-disabled="new_customer.$invalid">Submit</button>
  <a href="#customers" class="btn btn-default">Cancel</a>

</form>
