<div ng-init="getCustomers()"></div>

<div class="jumbothon">
  <h1>Customers</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">{{ customers.length }}</div>
        <div class="col-md-6 text-right">
          <a href="#/customers/new" class="btn btn-default">New Customer</a>
        </div>
      </div>
    </div>
    <table class="table table-hover table-responsive" ng-show="customers.length">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, customer) in customers">
          <td>{{$index+1}}</td>
          <td>{{ customer.first_name }} {{ customer.middle_name }} {{ customer.last_name }}</td>
          <td>{{ customer.email }}</td>
          <td class="text-right">
            <a href="#customers/{{customer.id}}" class="btn btn-default">Show</a>
            <a href="#customers/{{customer.id}}/edit" class="btn btn-default">Edit</a>
            <a class="btn btn-default" ng-click="deleteCustomer(customer)"><span class="text-danger">Delete</span></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="panel-body" ng-show="customers.length == 0">
      <p class="alert alert-warning">There are no customers.</p>
    </div>
  </div>

</div>
