<h1>Customer</h1>

<div ng-init="getCustomer()"></div>

<input type="hidden" ng-model="form_authenticity_token">

<div class="form-group">
  <label>First Name</label>
  <p class="form-control-static">{{customer.first_name}}</p>
</div>
<div class="form-group">
  <label>Middle Name</label>
  <p class="form-control-static">{{customer.middle_name}}</p>
</div>
<div class="form-group">
  <label>Last Name</label>
  <p class="form-control-static">{{customer.last_name}}</p>
</div>
<div class="form-group">
  <label>Email</label>
  <p class="form-control-static">{{customer.email}}</p>
</div>
<div class="form-group">
  <label>Address1</label>
  <p class="form-control-static">{{customer.address1}}</p>
</div>
<div class="form-group">
  <label>County</label>
   <p class="form-control-static">{{customer.country}}</p>
</div>
<div class="form-group">
  <label>City</label>
   <p class="form-control-static">{{customer.city}}</p>
</div>

<a href="#customers" class="btn btn-default">Back to Customers</a>
<a href="#customers/{{customer.id}}/edit" class="btn btn-default">Edit</a>
<!-- <a class="btn btn-default" ng-click="deleteCustomer(customer)"><span class="text-danger">Delete</span></a> -->
