<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Email Template</title>

</head>

<body style="margin: 0;">

<div style="max-width:800px; margin:40px auto; font-family:sans-serif; font-size:14px;">

    <p style="text-align:center; color: #31708f; background-color: #d9edf7; border-color: #bce8f1; padding: 15px;"><strong>Thank you for ordering from <%= @setting.store_name %></strong></p>


    <p style="color:#000; margin-top:25px;"><strong>Delivery Time</strong></p>
    <p>Time Range: <strong>03:00 PM - 06:00 PM</strong></p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#000; margin-top:25px; line-height:22px; font-size:14px;">
        <thead>
            <th style="text-align:left; background:#f0f0f0; padding-top:10px; padding-bottom:10px; padding-left:5px; padding-right:5px;">Item</th>
            <th style="text-align:left; background:#f0f0f0; padding-top:10px; padding-bottom:10px;">SKU</th>
            <th style="text-align:left; background:#f0f0f0; padding-top:10px; padding-bottom:10px;">Qty</th>
            <th style="text-align:right; background:#f0f0f0; padding-top:10px; padding-bottom:10px; padding-left:5px; padding-right:5px;">Sub-total</th>
        </thead>
        <tbody>
            <% @order.order_product.each do |product| %>
              <tr>
                  <td style="border-top:1px solid #e5e5e5; padding-top:21px; padding-bottom:21px; padding-left:5px; padding-right:5px;">
                      <p><%= product.product.name %></p>
                  </td>
                  <td style="border-top:1px solid #e5e5e5;"><%= product.product.sku %></td>
                  <td style="border-top:1px solid #e5e5e5;"><%= product.quantity %></td>
                  <td style="border-top:1px solid #e5e5e5; padding-top:21px; padding-bottom:21px; text-align:right; padding-left:5px; padding-right:5px;">
                    <% @total_price =  Money.from_amount(product.total_price, @setting.currency).format %>
                    <p><%= @total_price %></p>
                  </td>
              </tr>

            <% end %>

        </tbody>
    </table>
    <div style="float:right; width:50%; margin-top:30px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#000; line-height:18px; text-align:right; font-size:14px;">
          <tbody>
              <tr>
                  <td style="padding-top:15px;">Subtotal</td>
                  <td></td>
                  <td style="padding-top:15px;"><%= Money.from_amount(@order.grand_total, @setting.currency).format %></td>
              </tr>
              <tr>
                  <td style="padding-top:15px;">Discount</td>
                  <td></td>
                  <td style="padding-top:15px;">(<%= Money.from_amount(@order.totalPromo, @setting.currency).format %>)</td>
              </tr>
              <tr>
                  <td style="padding-top:15px;">Shipping</td>
                  <td></td>
                  <td style="padding-top:15px;"><%= Money.from_amount(@order.shipping_zone_based_rate ? @order.shipping_zone_based_rate.amount : 0, @setting.currency).format %></td>
              </tr>
              <tr>
                  <td style="padding-top:15px;">Tax (VAT)</td>
                  <td></td>
                  <td style="padding-top:15px;"><%= Money.from_amount(@order.tax_setting ? @order.tax_setting.rate : 0, @setting.currency).format %></td>
              </tr>
              <tr>
                  <td style="padding-top:15px;"><strong style="color:#e75b27;">Total</strong></td>
                  <td></td>
                  <td style="padding-top:15px;"><strong style="color:#e75b27;"><%= Money.from_amount(@order.grand_total, @setting.currency).format %></strong></td>
              </tr>
          </tbody>
        </table>
    </div>
    <div style="border-top:1px solid #e5e5e5; float:left; width:100%; font-family:sans-serif; color:#000; line-height:23px; margin-top:25px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#000; margin-top:30px; line-height:22px; font-size:14px;">
            <thead>
                <tr>
                    <th style="text-align:left;">Shipping Address</th>
                    <th style="text-align:left;">Billing Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                      <p><strong style="color:#989f9c;"><%= @full_name %> </strong><br>
                      <%= @order.shipping_address %> <%= @order.shipping_city %> <%= @order.shipping_country %></p>
                    </td>
                    <td>
                      <p><strong style="color:#989f9c;"><%= @full_name %> </strong><br>
                      <%= @order.billing_address %> <%= @order.billing_city %> <%= @order.billing_country %></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#000; margin-top:30px; line-height:22px; margin-bottom:30px; font-size:14px;">
            <thead>
                <tr>
                    <th style="text-align:left;">Shipping Method</th>
                    <th style="text-align:left;">Payment Method</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p><%= @order.dynamic_value.value %></p>
                    </td>
                    <td>
                        <p>Cash On Delivery</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="float:left; width:100%; padding-bottom:30px;">
        <p style="font-family:sans-serif; color:#000; font-size:13px; text-align:center; border-top:1px solid #e5e5e5; padding-top:10px;">If you have questions, reply to this email or contact us at <a href="mailto:rj.tan@jumpdigital.asia" style="color:#337ab7;"><%= @setting.account_email %></a></p>
    </div>


</div>

</body>
</html>
