<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Email Template</title>

</head>

<body style="margin: 0;">

<div style="max-width:800px; margin:40px auto; font-size:14px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#000; line-height:18px; padding-bottom:25px; font-size:14px;">
        <tr>
            <td>
                <h1 style="font-size:28px; line-height:25px;"><%= @setting.store_name %></h1>
            </td>
            <td>
                <p style="color:#989f9c;"><strong>Order <%= @order_id %></strong></p>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Thank you for your purchase!</strong></p>
                <p>Hi <%= @customer["full_name"] %>, we're getting your order ready to be shipped. We will notify you when it has been sent.</p>
            </td>
        </tr>
        <!-- <tr>
            <td>
                <p><a href="#" style="background:#0090c9; color:#fff; padding:20px 25px; text-decoration:none; float:left; margin-top:30px; text-align:center;">View your order</a> or <a href="#">Visit our store</a></p>
            </td>
        </tr> -->
    </table>
    <p style="font-family:sans-serif; color:#000; margin-top:25px; font-size:16px;"><strong>Order Summary</strong></p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#000; margin-top:25px; line-height:22px; font-size:14px;">
        <thead>
            <th style="text-align:left; background:#f0f0f0; padding-top:10px; padding-bottom:10px; padding-left:5px; padding-right:5px;">Item</th>
            <th style="text-align:left; background:#f0f0f0; padding-top:10px; padding-bottom:10px;">SKU</th>
            <th style="text-align:left; background:#f0f0f0; padding-top:10px; padding-bottom:10px;">Qty</th>
            <th style="text-align:right; background:#f0f0f0; padding-top:10px; padding-bottom:10px; padding-left:5px; padding-right:5px;">Sub-total</th>
        </thead>
        <tbody>
            <% @order.order_product.each do |product| %>
              <tr>
                  <td style="border-top:1px solid #e5e5e5; padding-top:21px; padding-bottom:21px; padding-left:5px; padding-right:5px;">
                      <p><%= product.product.name %></p>
                  </td>
                  <td style="border-top:1px solid #e5e5e5;"><%= product.product.sku %></td>
                  <td style="border-top:1px solid #e5e5e5;"><%= product.quantity %></td>
                  <td style="border-top:1px solid #e5e5e5; padding-top:21px; padding-bottom:21px; text-align:right; padding-left:5px; padding-right:5px;">
                      <% @total_price =  Money.from_amount(product.total_price, @setting.currency).format %>
                      <p><%= @total_price %></p>
                  </td>
              </tr>

            <% end %>

        </tbody>
    </table>
    <div style="float:right; width:50%; margin-top:30px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#000; line-height:18px; text-align:right; font-size:14px;">
            <tbody>
                <tr>
                    <td style="padding-top:15px;">Subtotal</td>
                    <td></td>
                    <td style="padding-top:15px;"><%= Money.from_amount(@order.grand_total, @setting.currency).format %></td>
                </tr>
                <tr>
                    <td style="padding-top:15px;">Discount</td>
                    <td></td>
                    <td style="padding-top:15px;">(<%= Money.from_amount(@order.totalPromo, @setting.currency).format %>)</td>
                </tr>
                <tr>
                    <td style="padding-top:15px;">Shipping</td>
                    <td></td>
                    <td style="padding-top:15px;"><%= Money.from_amount(@order.shipping_zone_based_rate ? @order.shipping_zone_based_rate.amount : 0, @setting.currency).format %></td>
                </tr>
                <tr>
                    <td style="padding-top:15px;">Tax (VAT)</td>
                    <td></td>
                    <td style="padding-top:15px;"><%= Money.from_amount(@order.tax_setting ? @order.tax_setting.rate : 0, @setting.currency).format %></td>
                </tr>
                <tr>
                    <td style="padding-top:15px;"><strong style="color:#e75b27;">Total</strong></td>
                    <td></td>
                    <td style="padding-top:15px;"><strong style="color:#e75b27;"><%= Money.from_amount(@order.grand_total, @setting.currency).format %></strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="border-top:1px solid #e5e5e5; float:left; width:100%; margin-top:30px; font-family:sans-serif; color:#000; line-height:23px;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#000; margin-top:30px; line-height:22px; font-size:14px;">
            <thead>
                <tr>
                    <th style="text-align:left;">Shipping Address</th>
                    <th style="text-align:left;">Billing Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p><strong style="color:#989f9c;"><%= @customer["full_name"] %> </strong><br>
                        <%= @order.shipping_address %> <%= @order.shipping_city %> <%= @order.shipping_country %></p>
                    </td>
                    <td>
                        <p><strong style="color:#989f9c;"><%= @customer["full_name"] %></strong><br>
                        <%= @order.billing_address %> <%= @order.billing_city %> <%= @order.billing_country %></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif; color:#000; margin-top:30px; line-height:22px; margin-bottom:20px; font-size:14px;">
            <thead>
                <tr>
                    <th style="text-align:left;">Shipping Method</th>
                    <th style="text-align:left;">Payment Method</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p><%= @order.dynamic_value.value %></p>
                    </td>
                    <td>
                        <p>Cash On Delivery</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="float:left; width:100%; padding-bottom:30px;">
        <p style="font-family:sans-serif; color:#000; font-size:13px; text-align:center; border-top:1px solid #e5e5e5; padding-top:10px;">If you have questions, reply to this email or contact us at <a href="mailto:rj.tan@jumpdigital.asia" style="color:#337ab7;"><%= @setting.account_email %></a></p>
    </div>


</div>

</body>
</html>
