<div class="collapse navbar-collapse pull-right" ng-controller="NavCtrl">
  <ul class="nav navbar-nav">
    <li><a href="/home">Home</a></li>
    <li><a href="/products">Products</a></li>
    <li ng-hide="signedIn()"><a href="/login">Log In</a></li>
    <li ng-hide="signedIn()"><a href="/register">Register</a></li>
    <li ng-show="signedIn()"><a href="/profile">Profile</a></li>
    <li ng-show="signedIn()"><a href="/profile">{{ customer.email }}</a></li>
    <li ng-show="signedIn()"><a href="/orders">Cart</a></li>
    <li ng-show="signedIn()"><a ng-click="logout()">Log Out</a></li>
  </ul>
</div>