<div ng-init="editCategory()"></div>

<h1>Edit Category</h1>

<div ng-show="errors" class="alert alert-danger" role="alert">
  <ul ng-repeat="error in errors">
    <li>{{ error }}</li>
  </ul>
</div>

<form ng-submit="updateCategory(category)" name="edit_category">

  <input type="hidden" ng-model="form_authenticity_token">

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="category.name" required autofocus>
  </div>

  <button class="btn btn-primary" ng-disabled="new_category.$invalid">Submit</button>
  <a href="#categories" class="btn btn-default">Cancel</a>

</form>
