<div ng-init="getCategories()"></div>

<div class="jumbothon">
  <h1>Categories</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">{{ categories.length }}</div>
        <div class="col-md-6 text-right">
          <a href="#/categories/new" class="btn btn-default">New Category</a>
        </div>
      </div>
    </div>
    <table class="table table-hover table-responsive" ng-show="categories.length">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, category) in categories">
          <td>{{$index+1}}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.created_at }}</td>
          <td>{{ category.updated_at }}</td>
          <td class="text-right">
            <a href="#categories/{{category.id}}" class="btn btn-default">Show</a>
            <a href="#categories/{{category.id}}/edit" class="btn btn-default">Edit</a>
            <a class="btn btn-default" ng-click="deleteCategory(category)"><span class="text-danger">Delete</span></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="panel-body" ng-show="categories.length == 0">
      <p class="alert alert-warning">There are no categories.</p>
    </div>
  </div>

</div>
