<h1>Category</h1>

<div ng-init="getCategory()"></div>

<input type="hidden" ng-model="form_authenticity_token">

<div class="form-group">
  <label>Name</label>
  <p class="form-control-static">{{category.name}}</p>
</div>

<a href="#categories" class="btn btn-default">Back to Categories</a>
<!-- <a href="#categories/{{category.id}}/edit" class="btn btn-default">Edit</a> -->
<!-- <a class="btn btn-default" ng-click="deleteCategory(category)"><span class="text-danger">Delete</span></a> -->
