<div ng-init="getProducts()"></div>

<div class="jumbothon">
  <h1>Products</h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">{{ products.length }}</div>
        <div class="col-md-6 text-right">
          <a href="#/products/new" class="btn btn-default">New Product</a>
        </div>
      </div>
    </div>
    <table class="table table-hover table-responsive" ng-show="products.length">
      <thead>
        <tr>
          <th>#</th>
          <th>SKU</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Category</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, product) in products">
          <td>{{$index+1}}</td>
          <td>{{ product.sku }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.category.name }}</td>
          <td class="text-right">
            <a href="#products/{{product.id}}" class="btn btn-default">Show</a>
            <a href="#products/{{product.id}}/edit" class="btn btn-default">Edit</a>
            <a class="btn btn-default" ng-click="deleteProduct(product)"><span class="text-danger">Delete</span></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="panel-body" ng-show="products.length == 0">
      <p class="alert alert-warning">There are no products.</p>
    </div>
  </div>

</div>
