<h1>New Product</h1>

<div ng-show="errors" class="alert alert-danger" category="alert">
  <ul ng-repeat="error in errors">
    <li>{{ error }}</li>
  </ul>
</div>

<form ng-submit="createProduct(product)" ng-init="newProduct()" name="new_product">
  <input type="hidden" ng-model="form_authenticity_token">

  <div class="form-group">
    <label>Category</label>
    <select ng-model="product.category_id" class="form-control" ng-options="category.id as category.name for category in categories" required autofocus></select>
  </div>

  <div class="form-group">
    <label>SKU</label>
    <input type="text" class="form-control" ng-model="product.sku" required>
  </div>

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="product.name" required>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" ng-model="product.description" required>
  </div>

  <div class="form-group">
    <label>Price</label>
    <input type="number" class="form-control" ng-model="product.price" required>
  </div>

  <button class="btn btn-primary" ng-disabled="new_product.$invalid">Submit</button>
  <a href="#products" class="btn btn-default">Cancel</a>

</form>
