<h1>Product</h1>

<div ng-init="getProduct()"></div>

<input type="hidden" ng-model="form_authenticity_token">

<div class="form-group">
  <label>SKU</label>
  <p class="form-control-static">{{product.sku}}</p>
</div>
<div class="form-group">
  <label>Name</label>
  <p class="form-control-static">{{product.name}}</p>
</div>
<div class="form-group">
  <label>Description</label>
  <p class="form-control-static">{{product.description}}</p>
</div>
<div class="form-group">
  <label>Price</label>
  <p class="form-control-static">{{product.price}}</p>
</div>
<div class="form-group">
  <label>Category</label>
  <p class="form-control-static">{{product.category.name}}</p>
</div>

<a href="#products" class="btn btn-default">Back to Products</a>
<!-- <a href="#products/{{products.id}}/edit" class="btn btn-default">Edit</a> -->
<!-- <a class="btn btn-default" ng-click="deleteProduct(product)"><span class="text-danger">Delete</span></a> -->
