<div ng-init="editUser()"></div>

<h1>Edit User</h1>

<div ng-show="errors" class="alert alert-danger" role="alert">
  <ul ng-repeat="error in errors">
    <li>{{ error }}</li>
  </ul>
</div>

<form ng-submit="updateUser(user)" name="edit_user">

  <input type="hidden" ng-model="form_authenticity_token">

  <div class="form-group">
    <label>Role</label>
    <select ng-model="user.role_id" class="form-control" ng-options="role.id as role.name for role in roles" required autofocus></select>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" ng-model="user.email" required>
  </div>

  <div class="form-group">
    <label>First Name</label>
    <input type="text" class="form-control" ng-model="user.first_name" required>
  </div>

  <div class="form-group">
    <label>Middle Name</label>
    <input type="text" class="form-control" ng-model="user.middle_name">
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input type="text" class="form-control" ng-model="user.last_name" required>
  </div>

  <button class="btn btn-primary" ng-disabled="new_user.$invalid">Submit</button>
  <a href="#users" class="btn btn-default">Cancel</a>

</form>
