<div ng-init="getUsers()"></div>

<h1>Users</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">{{ users.length }}</div>
      <div class="col-md-6 text-right">
        <a href="#/users/new" class="btn btn-default">New User</a>
      </div>
    </div>
  </div>
  <table class="table table-hover table-responsive" ng-show="users.length">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, user) in users">
        <td>{{$index+1}}</td>
        <td>{{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.name }}</td>
        <td class="text-right">
          <a href="#users/{{user.id}}" class="btn btn-default">Show</a>
          <a href="#users/{{user.id}}/edit" class="btn btn-default">Edit</a>
          <a class="btn btn-default" ng-click="deleteUser(user)"><span class="text-danger">Delete</span></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="panel-body" ng-show="users.length == 0">
    <p class="alert alert-warning">There are no users.</p>
  </div>
</div>
