<h1>User</h1>

<div ng-init="getUser()"></div>

<input type="hidden" ng-model="form_authenticity_token">

<div class="form-group">
  <label>First Name</label>
  <p class="form-control-static">{{user.first_name}}</p>
</div>
<div class="form-group">
  <label>Middle Name</label>
  <p class="form-control-static">{{user.middle_name}}</p>
</div>
<div class="form-group">
  <label>Last Name</label>
  <p class="form-control-static">{{user.last_name}}</p>
</div>
<div class="form-group">
  <label>Email</label>
  <p class="form-control-static">{{user.email}}</p>
</div>
<div class="form-group">
  <label>Role</label>
  <p class="form-control-static">{{user.role.name}}</p>
</div>

<a href="#users" class="btn btn-default">Back to Users</a>
<a href="#users/{{user.id}}/edit" class="btn btn-default">Edit</a>
<!-- <a class="btn btn-default" ng-click="deleteUser(user)"><span class="text-danger">Delete</span></a> -->
