<div class="page-header">
  <h1>Edit profile</h1>
</div>

<form ng-submit="update()">
  <h1 ng-show="signedIn()">{{ customer.email }}</h1>
  <div class="input-group">
  	Email
    <input type="email" class="form-control" placeholder="Email" ng-model="customer.email">
  </div>
  <div class="input-group">
  	First name
    <input type="text" class="form-control"  ng-model="customer.first_name">
  </div>

   <div class="input-group">
  	Middle name
    <input type="text" class="form-control"  ng-model="customer.middle_name">
  </div>

  <div class="input-group">
  	Last name
    <input type="text" class="form-control"  ng-model="customer.last_name">
  </div>

  <div class="input-group">
  	Address1
    <input type="text" class="form-control"  ng-model="customer.address1">
  </div>

  <div class="input-group">
  	Country
    <input type="text" class="form-control"  ng-model="customer.country">
  </div>

   <div class="input-group">
  	City
    <input type="text" class="form-control"  ng-model="customer.city">
  </div>


  <div class="input-group">
  	Cofirm Password
    <input type="password" class="form-control"  ng-model="customer.current_password" value="" required>
  </div>

    <br>
      <div ng-if="errorMessage">{{ errorMessage }}</div>
    <br>
  <input type="submit" class="btn btn-default" value="Update">
</form>