<div class="page-header">
  <h1>Profile</h1>
</div>
<div>
   <label>
       Email: 
       {{ customer.email }}
    </label>
    <br>
     <label>
       Name: 
       {{ customer.first_name + ' ' + customer.middle_name + ' ' + customer.last_name}}
    </label>
    <br>
     <label>
       address1: 
       {{customer.address1}}
    </label>
    <br>
     <label>
       Country: 
       {{ customer.country}}
    </label>

    <br>
     <label>
       City: 
       {{ customer.city}}
    </label>
</div>
 <a href="/profile/edit"><button>Edit</button></a>
     <div ui-view=""></div>
</form>