<ui-view>
<div class="page-header">

<h1>List of Products</h1>
</div>
<label>Search for product</label>
<p><input type="text" ng-model="productname"></input></p>

<p>
	<span>
		<input type="button" value="Search Product Name" ng-click="search(productname)"class="btn btn-default"></input>		
	</span>

	<span>
		<input type="button" value="Clear Search" ng-click="clearSearch()" class="btn btn-default"></input>		
	</span>
</p>

<ul ng-repeat="product in products">
	<li>
		<p>
		<label>SKU:</label>
		<span> {{product.sku}}</span>
	
	</p>
	<p>
		<label>NAME:</label>
		<span>{{product.name}}</span>
		
	</p>

	<p>
		<label>DESCRIPTION:</label>
		<span>{{product.description}}</span>

	</p>

	<p>
		<label>PRICE:</label>
		<span>{{product.price}}</span>
	</p>

	<p>
		<label>CATEGORY</label>
		<span>{{product.category.name}}</span>
	</p>

	<p><a ui-sref="show_product({id:product.id})">Click here</a></p>
	</li>
	

</ul>	

<!-- {{products}} -->

</ui-view>