<div class="page-header">
	
<h1>Hello</h1>
</div>

<ul ng-repeat="product in products">
	<li>
		<p>
		<label>SKU:</label>
		<span> {{product.sku}}</span>
	
	</p>
	<p>
		<label>NAME:</label>
		<span>{{product.name}}</span>
		
	</p>

	<p>
		<label>DESCRIPTION:</label>
		<span>{{product.description}}</span>

	</p>

	<p>
		<label>PRICE:</label>
		<span>{{product.price}}</span>
	</p>

	<p>
		<label>CATEGORY</label>
		<span>{{product.category.name}}</span>
	</p>

	<p>
		<span><input type="number" ng-model="quantity"></input></span>
		<span><input type="button" value="Add to Cart" class="btn btn-default" ng-click="addToCart(product.id, quantity)"></input></span>

	</p>

	</li>
	

</ul>	