<div class="page-header">
  <h1>Reset your password Password</h1>
</div>

<form ng-submit="forgotPassword()">
  <span>Enter your email address to send a link to reset your password. </span>
  <div class="input-group">
    <input type="email" class="form-control" placeholder="Email" ng-model="customer.email" required>
  </div>
  <br>
  <span ng-if="successMessage">{{ successMessage }}</span>
  <div ng-if="errorMessage">{{ errorMessage }}</div>
  <br>
  <input type="submit" ng-disabled="isDisabled" class="btn btn-default" value="Submit">
</form>