<div class="page-header">
  <h1>Log In</h1>
</div>

<form ng-submit="login()">
  <div class="input-group">
    <input type="email" class="form-control" placeholder="Email" ng-model="customer.email" required>

  </div>
  <div class="input-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="customer.password" required>
  </div>
  <span><a href="/recover">Forgot Password?</a></span>
  <br>
  <div ng-if="errorMessage">{{ errorMessage }}</div>
  <br>
  <input type="submit" class="btn btn-default" value="Log In">
</form>