<div class="page-header">
  <h1>Register</h1>
</div>

<form ng-submit="register()">
  <div class="input-group">
    <input type="email" class="form-control" placeholder="Email" ng-model="customer.email" required>
  </div>
   <div class="input-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="customer.password" required>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="First " ng-model="customer.first_name" required>
  </div>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="middle name" ng-model="customer.middle_name">
  </div>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="last name" ng-model="customer.last_name" required>
  </div>
   <div class="input-group">
    <input type="text" class="form-control" placeholder="address1" ng-model="customer.address1" required>
  </div>
   <div class="input-group">
    <input type="text" class="form-control" placeholder="country" ng-model="customer.country" required>
  </div>
   <div class="input-group">
    <input type="text" class="form-control" placeholder="city" ng-model="customer.city" required>
  </div>
 
    <br>
      <div ng-if="errorMessage">{{ errorMessage }}</div>
    <br>
  <input type="submit" class="btn btn-default" value="Register">
</form>