<div class="page-header">
  <h1>Reset Password</h1>
</div>

<form ng-submit="resetPassword()">
  <div class="input-group">
    <input type="password" class="form-control" placeholder="Password" ng-model="customer.password" required>

  </div>
  <div class="input-group">
    <input type="password" class="form-control" placeholder="Confirm password" ng-model="customer.confirm_password" required>
  </div>
  <div class="input-group">
    <input type="hidden" class="form-control" placeholder="token" ng-model="customer.reset_password_token" required>
  </div>
  <br>
  <span ng-if="successMessage">{{ successMessage }}</span>
  <div ng-if="errorMessage">{{ errorMessage }}</div>
  <br>
  <input type="submit" ng-disabled="isDisabled" class="btn btn-default" value="Reset">
</form>