<!DOCTYPE html>
<html ng-app="baiApp">
<head>
  <title><%= @page_title or controller_name.capitalize %> | Bai Admin</title>
  <%= stylesheet_link_tag    'admin/application', media: 'all' %>
  <%= javascript_include_tag 'admin/application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="DashboardController">

  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">Bai Admin</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/">Dasboard</a></li>
            <li><a href="#users">Users</a></li>
            <li><a href="#customers">Customers</a></li>
            <li><a href="#products">Products</a></li>
            <li><a href="#categories">Product Categories</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
